.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-gray-light-2);
    min-height: 50rem;
    box-shadow: var(--shadow-box);
    & .header{
        font-size: 1.4rem;
        height: 7rem;
        background-color: #fff;
        border-bottom: var(--line);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .content{
        display: flex;
        & .sidebar{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex:0 0 20%;
            // flex-basis: 30rem;
            background-color: var(--color-gray-dark-1);
        }
        & .hotel-view{
            flex:1;
            // test
        }
    }
    .detail{
        display: flex;
        padding: 4.5rem;
    }
    .description{
        font-size: 1.4rem;
        flex: 0 0 60%;
        background-color: #fff;
        margin-right: 4.5rem;
        border-bottom: var(--line);
        box-shadow: var(--shadow-light);
    }
    .user-reviews{
        flex:1;
        background-color: cornflowerblue;
    }
}